<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bige.system.mapper.MallProductMapper">
    
    <resultMap type="MallProduct" id="MallProductResult">
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="firstImg"    column="first_img"    />
        <result property="brandId"    column="brand_id"    />
        <result property="labelId"    column="label_id"    />
        <result property="templateId"    column="template_id"    />
        <result property="firstCategoryId"    column="first_category_id"    />
        <result property="secondCategoryId"    column="second_category_id"    />
        <result property="thirdCategoryId"    column="third_category_id"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="saleNum"    column="sale_num"    />
        <result property="virtualNum"    column="virtual_num"    />
        <result property="productVideo"    column="product_video"    />
        <result property="totalNum"    column="total_num"    />
        <result property="salePrice"    column="sale_price"    />
        <result property="linePrice"    column="line_price"    />
        <result property="origin"    column="origin"    />
        <result property="postage"    column="postage"    />
        <result property="status"    column="status"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="invoiceStatus"    column="invoice_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="details"    column="details"    />
    </resultMap>

    <sql id="selectMallProductVo">
        select product_id, product_name, first_img, brand_id, label_id, template_id, first_category_id, second_category_id, third_category_id, supplier_id, sale_num, virtual_num, product_video, total_num, sale_price, line_price, origin, postage, status, audit_status, invoice_status, create_time, create_by, update_time, details from mall_product
    </sql>

    <select id="selectMallProductList" parameterType="MallProduct" resultMap="MallProductResult">
        <include refid="selectMallProductVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="firstImg != null  and firstImg != ''"> and first_img = #{firstImg}</if>
            <if test="brandId != null "> and brand_id = #{brandId}</if>
            <if test="labelId != null "> and label_id = #{labelId}</if>
            <if test="templateId != null "> and template_id = #{templateId}</if>
            <if test="firstCategoryId != null "> and first_category_id = #{firstCategoryId}</if>
            <if test="secondCategoryId != null "> and second_category_id = #{secondCategoryId}</if>
            <if test="thirdCategoryId != null "> and third_category_id = #{thirdCategoryId}</if>
            <if test="supplierId != null "> and supplier_id = #{supplierId}</if>
            <if test="saleNum != null "> and sale_num = #{saleNum}</if>
            <if test="virtualNum != null "> and virtual_num = #{virtualNum}</if>
            <if test="productVideo != null  and productVideo != ''"> and product_video = #{productVideo}</if>
            <if test="totalNum != null "> and total_num = #{totalNum}</if>
            <if test="salePrice != null "> and sale_price = #{salePrice}</if>
            <if test="linePrice != null "> and line_price = #{linePrice}</if>
            <if test="origin != null  and origin != ''"> and origin = #{origin}</if>
            <if test="postage != null  and postage != ''"> and postage = #{postage}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="invoiceStatus != null  and invoiceStatus != ''"> and invoice_status = #{invoiceStatus}</if>
            <if test="details != null  and details != ''"> and details = #{details}</if>
        </where>
    </select>
    
    <select id="selectMallProductById" parameterType="Long" resultMap="MallProductResult">
        <include refid="selectMallProductVo"/>
        where product_id = #{productId}
    </select>
        
    <insert id="insertMallProduct" parameterType="MallProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into mall_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null">product_name,</if>
            <if test="firstImg != null">first_img,</if>
            <if test="brandId != null">brand_id,</if>
            <if test="labelId != null">label_id,</if>
            <if test="templateId != null">template_id,</if>
            <if test="firstCategoryId != null">first_category_id,</if>
            <if test="secondCategoryId != null">second_category_id,</if>
            <if test="thirdCategoryId != null">third_category_id,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="saleNum != null">sale_num,</if>
            <if test="virtualNum != null">virtual_num,</if>
            <if test="productVideo != null">product_video,</if>
            <if test="totalNum != null">total_num,</if>
            <if test="salePrice != null">sale_price,</if>
            <if test="linePrice != null">line_price,</if>
            <if test="origin != null">origin,</if>
            <if test="postage != null and postage != ''">postage,</if>
            <if test="status != null">status,</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status,</if>
            <if test="invoiceStatus != null">invoice_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="details != null">details,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null">#{productName},</if>
            <if test="firstImg != null">#{firstImg},</if>
            <if test="brandId != null">#{brandId},</if>
            <if test="labelId != null">#{labelId},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="firstCategoryId != null">#{firstCategoryId},</if>
            <if test="secondCategoryId != null">#{secondCategoryId},</if>
            <if test="thirdCategoryId != null">#{thirdCategoryId},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="saleNum != null">#{saleNum},</if>
            <if test="virtualNum != null">#{virtualNum},</if>
            <if test="productVideo != null">#{productVideo},</if>
            <if test="totalNum != null">#{totalNum},</if>
            <if test="salePrice != null">#{salePrice},</if>
            <if test="linePrice != null">#{linePrice},</if>
            <if test="origin != null">#{origin},</if>
            <if test="postage != null and postage != ''">#{postage},</if>
            <if test="status != null">#{status},</if>
            <if test="auditStatus != null and auditStatus != ''">#{auditStatus},</if>
            <if test="invoiceStatus != null">#{invoiceStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="details != null">#{details},</if>
         </trim>
    </insert>

    <update id="updateMallProduct" parameterType="MallProduct">
        update mall_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null">product_name = #{productName},</if>
            <if test="firstImg != null">first_img = #{firstImg},</if>
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="labelId != null">label_id = #{labelId},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="firstCategoryId != null">first_category_id = #{firstCategoryId},</if>
            <if test="secondCategoryId != null">second_category_id = #{secondCategoryId},</if>
            <if test="thirdCategoryId != null">third_category_id = #{thirdCategoryId},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="saleNum != null">sale_num = #{saleNum},</if>
            <if test="virtualNum != null">virtual_num = #{virtualNum},</if>
            <if test="productVideo != null">product_video = #{productVideo},</if>
            <if test="totalNum != null">total_num = #{totalNum},</if>
            <if test="salePrice != null">sale_price = #{salePrice},</if>
            <if test="linePrice != null">line_price = #{linePrice},</if>
            <if test="origin != null">origin = #{origin},</if>
            <if test="postage != null and postage != ''">postage = #{postage},</if>
            <if test="status != null">status = #{status},</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status = #{auditStatus},</if>
            <if test="invoiceStatus != null">invoice_status = #{invoiceStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="details != null">details = #{details},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteMallProductById" parameterType="Long">
        delete from mall_product where product_id = #{productId}
    </delete>

    <delete id="deleteMallProductByIds" parameterType="String">
        delete from mall_product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
</mapper>