<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bige.system.mapper.MallGoodsMapper">

    <resultMap type="MallGoods" id="MallGoodsResult">
        <result property="goodsId"    column="goods_id"    />
        <result property="productId"    column="product_id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsImg"    column="goods_img"    />
        <result property="salePrice"    column="sale_price"    />
        <result property="costPrice"    column="cost_price"    />
        <result property="linePrice"    column="line_price"    />
        <result property="saleNum"    column="sale_num"    />
        <result property="totalNum"    column="total_num"    />
        <result property="stockLocked"    column="stock_locked"    />
        <result property="weight"    column="weight"    />
        <result property="standardJson"    column="standard_json"    />
        <result property="volum"    column="volum"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMallGoodsVo">
        select goods_id, product_id, goods_name, goods_img, sale_price, cost_price, line_price, sale_num, total_num, stock_locked, weight, standard_json, volum, create_time, create_by, update_time from mall_goods
    </sql>

    <select id="selectMallGoodsList" parameterType="MallGoods" resultMap="MallGoodsResult">
        <include refid="selectMallGoodsVo"/>
        <where>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsImg != null  and goodsImg != ''"> and goods_img = #{goodsImg}</if>
            <if test="salePrice != null "> and sale_price = #{salePrice}</if>
            <if test="costPrice != null "> and cost_price = #{costPrice}</if>
            <if test="linePrice != null "> and line_price = #{linePrice}</if>
            <if test="saleNum != null "> and sale_num = #{saleNum}</if>
            <if test="totalNum != null "> and total_num = #{totalNum}</if>
            <if test="stockLocked != null "> and stock_locked = #{stockLocked}</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="standardJson != null  and standardJson != ''"> and standard_json = #{standardJson}</if>
            <if test="volum != null "> and volum = #{volum}</if>
        </where>
    </select>

    <select id="selectMallGoodsById" parameterType="Long" resultMap="MallGoodsResult">
        <include refid="selectMallGoodsVo"/>
        where goods_id = #{goodsId}
    </select>

    <insert id="insertMallGoods" parameterType="MallGoods" useGeneratedKeys="true" keyProperty="goodsId">
        insert into mall_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">product_id,</if>
            <if test="goodsName != null">goods_name,</if>
            <if test="goodsImg != null">goods_img,</if>
            <if test="salePrice != null">sale_price,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="linePrice != null">line_price,</if>
            <if test="saleNum != null">sale_num,</if>
            <if test="totalNum != null">total_num,</if>
            <if test="stockLocked != null">stock_locked,</if>
            <if test="weight != null">weight,</if>
            <if test="standardJson != null">standard_json,</if>
            <if test="volum != null">volum,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">#{productId},</if>
            <if test="goodsName != null">#{goodsName},</if>
            <if test="goodsImg != null">#{goodsImg},</if>
            <if test="salePrice != null">#{salePrice},</if>
            <if test="costPrice != null">#{costPrice},</if>
            <if test="linePrice != null">#{linePrice},</if>
            <if test="saleNum != null">#{saleNum},</if>
            <if test="totalNum != null">#{totalNum},</if>
            <if test="stockLocked != null">#{stockLocked},</if>
            <if test="weight != null">#{weight},</if>
            <if test="standardJson != null">#{standardJson},</if>
            <if test="volum != null">#{volum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateMallGoods" parameterType="MallGoods">
        update mall_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null">product_id = #{productId},</if>
            <if test="goodsName != null">goods_name = #{goodsName},</if>
            <if test="goodsImg != null">goods_img = #{goodsImg},</if>
            <if test="salePrice != null">sale_price = #{salePrice},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="linePrice != null">line_price = #{linePrice},</if>
            <if test="saleNum != null">sale_num = #{saleNum},</if>
            <if test="totalNum != null">total_num = #{totalNum},</if>
            <if test="stockLocked != null">stock_locked = #{stockLocked},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="standardJson != null">standard_json = #{standardJson},</if>
            <if test="volum != null">volum = #{volum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where goods_id = #{goodsId}
    </update>

    <delete id="deleteMallGoodsById" parameterType="Long">
        delete from mall_goods where goods_id = #{goodsId}
    </delete>

    <delete id="deleteMallGoodsByIds" parameterType="String">
        delete from mall_goods where goods_id in
        <foreach item="goodsId" collection="array" open="(" separator="," close=")">
            #{goodsId}
        </foreach>
    </delete>

    <delete id="deleteMallGoodsByProductId" parameterType="Long">
        delete from mall_goods where product_id = #{productId}
    </delete>
</mapper>